@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body {
  color: black;
  font-family: 'Lato', sans-serif;
  padding: .45em .65em 1em;
  line-height: 1.5;
  background: white;

}


div#output {
  margin: 20px 0px;
  display: inline-block;

}

div#selector {



  


}

div#stagingDiv li {
  text-align: left;
  max-width: 300px;
  margin: 20px 0;

}


div#header {

  padding: .2em .2em;

  height: 420px;


  text-align: center;

}

div#nutrientInfo {

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: .2em .2em;
  width: 100%;
  height: 420px;
  /* background-image: linear-gradient(green, yellow, orange, red); */
  color: black;
  overflow: scroll;
}


/* The animation code */
@keyframes examples {
  0%   {background-image: linear-gradient(green, lime);}
  25%  {background-image: linear-gradient(yellow, orange);}
  50%  {background-image: linear-gradient(lime, yellow);}
  100% {background-image: linear-gradient(orange, yellow, red);}
}

/* The element to apply the animation to */
div#nutrientInfo {
  animation-name: examples;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}






#nutrientInfo p {
  margin: 20px 0 20px 20px;
}

p#ingredientSearchResult {
  margin: 20px 0 5px 0;
}


ul {
  padding-left: 0;
  list-style:  none;


}


ul.inlineUl {
  display: inline-block;
  width: 35%;

}


img {
  display: block;
  width: 450px;
  max-height: 300px;
  padding: 40px;
}


/* The animation code */
@keyframes example {
  0%   {background-color: green;}
  25%  {background-color: yellow;}
  50%  {background-color: orange;}
  100% {background-color: red;}
}

/* The element to apply the animation to */
img.header1 {
  width: 95%;
  height: 380px;
  margin-top: 10px;
  background-color: lime;
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}





ol {
  list-style: decimal;

}

li {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  padding: .5rem;
}

.outputLi {
  width: 90%;
  margin: 10px 10px;
  text-align: left;
  padding: .5rem;

}

#addButton {
  height: 36px;
  margin-bottom: 10px;
}

#calculateButton {
  height: 36px;

}

#searchButton {

  height: 30px;
  position: relative;
  top: -2px;
}


input#searchInput {

  margin: 20px 0;
  height: 24px;
  font-size: 20px;
}

input#amountTextInput {

  margin: 20px 0;
  height: 24px;
  font-size: 20px;
}


#checkbox {
  height: 36px;
  width: 36px;
  position: relative;
  top: 10px;
}



button.remove {
  float: right;
}
