@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body {
  color: black;
  font-family: 'Lato', sans-serif;
  padding: .5em;
  line-height: 1.5;
  width: 100%;
  height: 900px;
  background-color: black;
}







div#output {
  margin: 0px 20px 0 0;
  padding: 0 0 0 0px;
  display: inline-block;
  height: 900px;
  width: 100%;
  background-image: linear-gradient(green, yellow, orange, red);
  overflow: scroll;    /*   */

}


select {
  font-family: Arial, sans-serif;
  font-size: 40px;

  margin-left: 40px;
}


div#selector {

  -webkit-appearance: none;

}

div#stagingDiv li {
  text-align: left;
  max-width: 300px;
  margin: 20px 0;

}


div#header {

  height: 420px;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0px;
  overflow: scroll;
}



/* The animation code */
@keyframes examples3 {
  0%   {background-image: linear-gradient(green, lime);}
  25%  {background-image: linear-gradient(yellow, orange);}
  50%  {background-image: linear-gradient(lime, yellow);}
  100% {background-image: linear-gradient(orange, yellow, lime);}
}

/* The element to apply the animation to */
div#header {
  animation-name: examples3;
  animation-duration: 40s;
  animation-iteration-count: infinite;

}








div#nutrientInfo {

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 420;
  width: 100%;

  /* background-image: linear-gradient(green, yellow, orange, red); */
  color: black;
  overflow: scroll;
}


/* The animation code */
@keyframes examples {
  0%   {background-image: linear-gradient(green, lime);}
  25%  {background-image: linear-gradient(yellow, orange);}
  50%  {background-image: linear-gradient(lime, yellow);}
  100% {background-image: linear-gradient(orange, yellow, lime);}
}

/* The element to apply the animation to */
div#nutrientInfo {
  animation-name: examples;
  animation-duration: 40s;
  animation-iteration-count: infinite;

}


div.inputGroup {
  margin: 0 0 0 40px;
}

.radio {
  width: 40px;
}

label {
  font-size: 40px;
}



#nutrientInfo p {
  margin: 20px 0 20px 20px;
}

p#ingredientSearchResult {
  margin: 60px 0 40px 40px;
  font-size: 40px;
}


ul {
  padding-left: 0;
  list-style:  none;


}


ul.inlineUl {
  display: inline-block;
  width: 35%;

}


img {
  display: block;
  width: 65%;
  width: 450px;
  max-height: 300px;
  padding: 40px;
}


/* The animation code */
@keyframes example {
  0%   {background-color: green;}
  25%  {background-color: yellow;}
  50%  {background-color: orange;}
  100% {background-color: lime;}
}

/* The element to apply the animation to */
img.header1 {
  width: 95%;
  height: 380px;
  margin-top: 40px;
  padding: 10px;
  background-color: lime;
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}





ol {
  list-style: decimal;

}

li {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  padding: .5rem;
}

.outputLi {
  width: 90%;
  margin: 10px 10px;
  text-align: left;
  padding: .5rem;

}

#addButton {
  height: 36px;
  margin-bottom: 10px;
}

#calculateButton {
  height: 36px;

}

#searchButton {

  height: 100px;
  width: 190px;
  font-size: 50px;
  position: relative;
  top: 0px;
}


input#searchInput {

  margin: 40px 40px;
  padding: 10px;
  height: 84px;
  font-size: 50px;

}

input#amountTextInput {

  margin: 20px 0;
  height: 24px;
  font-size: 20px;
}


#checkbox {
  height: 36px;
  width: 36px;
  position: relative;
  top: 10px;
}



button.remove {
  float: right;
}
